asgiref==3.8.1
Django==5.1
django-filter==24.3
djangorestframework==3.15.2
gunicorn==22.0.0
Markdown==3.6
mysqlclient==2.2.4
packaging==24.1
flake8==3.8.4
black==20.8b1
sqlparse==0.5.1
typing_extensions==4.12.2
